<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.archpheneos.manager"
    android:versionCode="10000" android:versionName="1.0.0">
    <permission android:name="org.archpheneos.permission.TERMINAL"
        android:protectionLevel="signature" />
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <provider android:authorities="org.archpheneos.manager.runtime" />
    </queries>
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="36" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:theme="@style/AppTheme"
        android:icon="@drawable/manager_icon"
        android:label="Archphene"
        android:allowBackup="false"
        android:debuggable="true"
        android:supportsRtl="true">
        <activity
            android:name="org.archpheneos.manager.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.archpheneos.manager.TerminalRequestActivity"
            android:exported="true"
            android:permission="org.archpheneos.permission.TERMINAL"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="org.archpheneos.action.TERMINAL_REQUEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <provider
            android:name="org.archpheneos.manager.RuntimeModuleProvider"
            android:authorities="org.archpheneos.manager.runtime"
            android:exported="true"
            android:grantUriPermissions="true">
            <grant-uri-permission android:pathPrefix="/v1/" />
            <grant-uri-permission android:pathPrefix="/pack/v1/" />
        </provider>

        <service
            android:name="org.archpheneos.manager.LinuxAppManagerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />
    </application>
</manifest>
