<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.archphene.linux.mousepad">
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="36" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <queries>
        <provider android:authorities="org.archpheneos.manager.runtime" />
        <provider android:authorities="org.archphene.linux.p0392be9c9f103a39d951c2f39c3644d2.documents" />
    </queries>

    <application
        android:theme="@style/AppTheme"
        android:label="Mousepad"
        android:icon="@drawable/mousepad_icon"
        android:roundIcon="@drawable/mousepad_icon"
        android:allowBackup="false"
        android:debuggable="true"
        android:extractNativeLibs="true"
        android:supportsRtl="true">
        <meta-data android:name="org.archphene.linux_app" android:value="true" />
        <meta-data android:name="org.archphene.source.type" android:value="pacman" />
        <meta-data android:name="org.archphene.source.id" android:value="extra/mousepad" />
        <meta-data android:name="org.archphene.source.version" android:value="0.7.0-1" />
        <meta-data android:name="org.archphene.source.update_url" android:value="https://archlinux.org/packages/extra/x86_64/mousepad/json/" />
        <meta-data android:name="org.archphene.runtime.abi" android:value="glibc-x86_64" />
        <meta-data android:name="org.archphene.bridge.payload" android:value="libarchphene_mousepad.so" />
        <meta-data android:name="org.archphene.bridge.capabilities" android:value="wayland,input,ime,clipboard,runtime-pack,home-documents,open-uri,notifications,documents,drag-drop" />
        <meta-data android:name="org.archphene.bridge.toolkit" android:value="gtk3" />
        <meta-data android:name="org.archphene.bridge.log_tag" android:value="ArchpheneMousepad" />
        <meta-data android:name="org.archphene.bridge.data_assets" android:value="mousepad-data.zip,glibc-gconv.zip" />

        <provider
            android:name="org.archphene.bridge.LinuxHomeBrokerProvider"
            android:authorities="org.archphene.linux.mousepad.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="org.archpheneos.permission.GUI_DOCUMENTS" />

        <activity
            android:name="org.archphene.bridge.DocumentOpenActivity"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:exported="true" />

        <activity
            android:name="org.archphene.linux.mousepad.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:configChanges="density|fontScale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
                <data android:mimeType="application/json" />
                <data android:mimeType="application/xml" />
                <data android:mimeType="application/yaml" />
            </intent-filter>
        </activity>
    </application>
</manifest>