<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:name=".ArchpheneDebugApplication"
        tools:replace="android:name">
        <receiver
            android:name=".ClipboardTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".DocumentsProviderTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".FolderGrantTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".PackageJobTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".InstalledPackagesTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".DesktopEntriesTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".LauncherApkTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".LauncherSessionTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".PackageSearchTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".PackagePhaseTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".AurReviewTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".TerminalQueryTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".LinuxCommandTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".PerformanceTestReceiver"
            android:exported="true" />
        <provider
            android:name=".DocumentImportTestProvider"
            android:authorities="${applicationId}.import-test"
            android:exported="false"
            android:grantUriPermissions="true"
            android:process=":import_test_provider" />
    </application>
</manifest>
