<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:name=".ArchpheneDebugApplication"
        tools:replace="android:name">
        <activity
            android:name=".TerminalAccessibilityFixtureActivity"
            android:exported="true" />
        <service
            android:name=".TerminalAccessibilityTestService"
            android:exported="true"
            android:label="Archphene terminal test accessibility service"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/terminal_test_accessibility_service" />
        </service>
        <receiver
            android:name=".ClipboardTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".DocumentsProviderTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".FolderGrantTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".PackageJobTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".InstalledPackagesTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".DesktopEntriesTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".LauncherApkTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".LauncherSessionTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".PackageSearchTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".PackagePhaseTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".AurReviewTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".TerminalQueryTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".LinuxCommandTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".PerformanceTestReceiver"
            android:exported="true" />
        <provider
            android:name=".DocumentImportTestProvider"
            android:authorities="${applicationId}.import-test"
            android:exported="false"
            android:grantUriPermissions="true"
            android:process=":import_test_provider" />
    </application>
</manifest>
