<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".ClipboardTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".DocumentsProviderTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".FolderGrantTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".PackageJobTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".InstalledPackagesTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".DesktopEntriesTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".LauncherApkTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".LauncherSessionTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".PackageSearchTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".PackagePhaseTestReceiver"
            android:exported="true" />
        <receiver
            android:name=".AurReviewTestReceiver"
            android:exported="true" />
    </application>
</manifest>
