<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.archpheneos.wrapper.exec">
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="36" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:theme="@style/AppTheme"
        android:label="Linux Hello"
        android:allowBackup="false"
        android:debuggable="true"
        android:extractNativeLibs="true"
        android:supportsRtl="true">
        <activity
            android:name="org.archpheneos.wrapper.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
