<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.archphene.urigrantprobe">
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="36" />
    <queries>
        <provider android:authorities="org.archphene.compositorprobe.documents" />
    </queries>
    <application android:label="Archphene URI Grant Probe">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
            </intent-filter>
        </activity>
    </application>
</manifest>