<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.archpheneos.terminal"
    android:versionCode="10000" android:versionName="1.0.0">
    <queries>
        <provider android:authorities="org.archpheneos.manager.runtime" />
        <package android:name="org.archpheneos.manager" />
    </queries>
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="36" />
    <uses-permission android:name="org.archpheneos.permission.TERMINAL" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:theme="@style/AppTheme"
        android:icon="@drawable/terminal_icon"
        android:label="Archphene Terminal"
        android:allowBackup="false"
        android:debuggable="true"
        android:supportsRtl="true">
        <service
            android:name="org.archpheneos.terminal.TerminalService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Keeps user-created interactive terminal sessions running while the UI is not visible" />
        </service>
        <provider
            android:name="org.archpheneos.terminal.TerminalCommandProvider"
            android:authorities="org.archpheneos.terminal.commands"
            android:exported="true"
            android:permission="org.archpheneos.permission.TERMINAL" />
        <activity
            android:name="org.archpheneos.terminal.TerminalActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="density|fontScale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="org.archpheneos.terminal.TerminalHomeDocumentsProvider"
            android:authorities="org.archpheneos.terminal.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
    </application>
</manifest>
