<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <!-- CAMERA otherwise implies that a rear-facing camera is required. -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@drawable/launcher_icon"
        android:label="Archphene Linux App"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArchpheneLauncher">
        <meta-data
            android:name="org.archphene.launcher.DESCRIPTOR_ID"
            android:value="d:0000000000000000000000000000000000000000000000000000000000000000" />
        <meta-data
            android:name="org.archphene.launcher.GENERATION"
            android:value="g:00000000000000000001" />
        <meta-data
            android:name="org.archphene.launcher.MANAGER_PACKAGE"
            android:value="org.archphene.app.template" />
        <meta-data
            android:name="org.archphene.launcher.TEMPLATE_SHA256"
            android:value="h:0000000000000000000000000000000000000000000000000000000000000000" />
        <meta-data
            android:name="org.archphene.launcher.CAPABILITIES"
            android:value="c:launcher-capabilities-placeholder" />
        <meta-data
            android:name="org.archphene.launcher.MIME_TYPES"
            android:value="m:launcher-mime-types-placeholder" />

        <activity
            android:name="org.archphene.launcher.LauncherActivity"
            android:configChanges="density|keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:mimeType="application/x-archphene-mime-placeholder-00" />
                <data android:mimeType="application/x-archphene-mime-placeholder-01" />
                <data android:mimeType="application/x-archphene-mime-placeholder-02" />
                <data android:mimeType="application/x-archphene-mime-placeholder-03" />
                <data android:mimeType="application/x-archphene-mime-placeholder-04" />
                <data android:mimeType="application/x-archphene-mime-placeholder-05" />
                <data android:mimeType="application/x-archphene-mime-placeholder-06" />
                <data android:mimeType="application/x-archphene-mime-placeholder-07" />
                <data android:mimeType="application/x-archphene-mime-placeholder-08" />
                <data android:mimeType="application/x-archphene-mime-placeholder-09" />
                <data android:mimeType="application/x-archphene-mime-placeholder-10" />
                <data android:mimeType="application/x-archphene-mime-placeholder-11" />
                <data android:mimeType="application/x-archphene-mime-placeholder-12" />
                <data android:mimeType="application/x-archphene-mime-placeholder-13" />
                <data android:mimeType="application/x-archphene-mime-placeholder-14" />
                <data android:mimeType="application/x-archphene-mime-placeholder-15" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/x-archphene-mime-placeholder-00" />
                <data android:mimeType="application/x-archphene-mime-placeholder-01" />
                <data android:mimeType="application/x-archphene-mime-placeholder-02" />
                <data android:mimeType="application/x-archphene-mime-placeholder-03" />
                <data android:mimeType="application/x-archphene-mime-placeholder-04" />
                <data android:mimeType="application/x-archphene-mime-placeholder-05" />
                <data android:mimeType="application/x-archphene-mime-placeholder-06" />
                <data android:mimeType="application/x-archphene-mime-placeholder-07" />
                <data android:mimeType="application/x-archphene-mime-placeholder-08" />
                <data android:mimeType="application/x-archphene-mime-placeholder-09" />
                <data android:mimeType="application/x-archphene-mime-placeholder-10" />
                <data android:mimeType="application/x-archphene-mime-placeholder-11" />
                <data android:mimeType="application/x-archphene-mime-placeholder-12" />
                <data android:mimeType="application/x-archphene-mime-placeholder-13" />
                <data android:mimeType="application/x-archphene-mime-placeholder-14" />
                <data android:mimeType="application/x-archphene-mime-placeholder-15" />
            </intent-filter>
        </activity>
    </application>
</manifest>
