<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.archpheneos.smoke">
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="36" />

    <application
        android:theme="@style/AppTheme"
        android:label="ArchpheneOS Smoke">
        <activity
            android:name="com.archpheneos.smoke.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
